html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  grid-auto-flow: row dense;
  justify-content: center;
  background-color: var(--background-color, #ffffff);
  color: var(--text-color, #000000);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

#root {
  unicode-bidi: isolate;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--section-background-color, #f9f9f9);
  box-sizing: border-box;
}

#home {
  margin-top: 50px;
}

img {
  max-width: 80vw;
}

@media (max-width: 1380px) {
  body,
  html {
    font-size: 16px;
    line-height: normal;
  }
}

@media (max-width: 1024px) {
  body {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  section {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }

  section {
    grid-template-columns: 1fr;
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

:root {
  --darkbg: #251d29;
  --darkt: #ffd1f7;
  --lightbg: #fff;
  --lightt: #d43370;

  --toggleHeight: 16em;
  --toggleWidth: 30em;
  --toggleBtnRadius: 10em;

  --bgColor--night: #423966;
  --mooncolor: #d9fbff;
  --bgColor--day: #9ee3fb;
}

body {
  transition: all 0.2s ease-in-out;
  background: var(--darkbg);
  color: var(--darkt);
}

body.light {
  background: var(--lightbg);
  color: var(--lightt);
}